.Header__ul {
  display: flex;
  justify-content: space-between;
}
.Header__item {
  list-style-type: none;
  border: 1px solid black;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}
.Header__link {
  text-decoration: none;
  color: black;
}

.Header__link--hover {
  text-decoration: underline;
}
