.Header {
  height: 5vh;
  &__ul {
    display: flex;
    justify-content: space-between;
    display: flex;
  }

  &__link {
    border: 1px solid black;
    display: inline-block;
    flex: 1 1 0;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: orange;
    color: black;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: orange;
      border: 1px solid black;
      opacity: 1;
      transition: all 400ms ease-out;
    }

    &:hover {
      color: blue;

      &::after {
        transform: scale(2);
        opacity: 0;
      }
    }
  }
}
